.form-filter {
  display: grid;
  row-gap: 10px;

  @media (min-width: $mobile-plus-width) {
    row-gap: 15px;
  }

  @media (min-width: $tablet-width) {
    row-gap: 20px;
  }
}

.form-filter__list {
  display: flex;
  flex-direction: column;
  gap: 10px;

  @media (min-width: $mobile-plus-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
  }
}

// .form-filter__item {
// }

.form-filter__fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  position: relative;

  @media (min-width: $tablet-width) {
    row-gap: 10px;
  }
}

.form-filter__legend {
  font-size: 12.5px;
  margin-left: 5px;
  margin-bottom: 10px;
}

.form-filter__block-submit {
  display: flex;
  justify-content: center;

  @media (min-width: $tablet-width) {
    justify-content: end;
  }
}

.form-filter__submit {
  font-size: 12px;
  padding: 4px 8px;
  line-height: 1.5;

  @media (min-width: $tablet-width) {
    font-size: 14px;
  }
}
