.form-filter {
  display: grid;
  row-gap: 10px;

  @media (min-width: $tablet-width) {
    row-gap: 15px;
  }
}

.form-filter__list {
  display: flex;
  flex-direction: column;
  gap: 10px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
  }
}

.form-filter__item {
}

.form-filter__block-submit {
  display: flex;
  justify-content: center;

  @media (min-width: $tablet-width) {
    justify-content: end;
  }
}

.form-filter__submit {
  border-radius: 20px;
  font-size: 12px;
  padding: 4px 8px;
  line-height: 1.5;
  border: 1px solid transparent;
  background-color: $bottom-color;
  color: $color-white;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  &:hover,
  &:focus-visible {
    border-color: $bottom-color;
    color: $bottom-color;
    background-color: $color-white;
  }
}
