.hero {
  background: #777777 url("../../images/background/hero-bg.webp") no-repeat center;
  background-size: cover;
  padding: 30px 0 200px;
  color: $color-white;
}

.hero__title {
}

.hero__wrapper {
}

.form-group {
}
.form-group__title {
}
.form-group__title--select {
}
.form-group__input {
}
.form__input--select {
}
.form-group__dropdown-hidden {
}
.form-group__list-dropdown {
}
.select-list {
}
.select-list__item {
}
.form-group__range {
}
.filter-group__range-container {
}
.filter-group__range-input {
}

.button {
}
